exportPattern("^[[:alpha:]]+")
export(no_ticks)
export(no_legend)
export(no_axis_labels)
export(no_grid)
export(plot_background_color)
export(panel_background_color)
importFrom(ggplot2, theme)
importFrom(ggplot2, element_blank)
importFrom(ggplot2, element_rect)
importFrom(ggplot2, element_text)
importFrom(ggplot2, element_line)
